

    <meta name="viewport" content="width=device-width" />
    <title>Insertion Sort</title>
    <link href="~/Content/Css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/Css/animation.css" rel="stylesheet" />
    <script language="javascript" type="text/javascript" src="~/Content/js/p5/p5.js"></script>
    <script language="javascript" type="text/javascript" src="~/Content/js/p5/p5.dom.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Content/js/p5/p5.svg.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="~/Content/js/fontawesome-all.js"></script>
    <script src="~/Content/js/sort-js/model.js"></script>
    <script src="~/Content/js/sort-js/animation.js"></script>
    <script src="~/Content/js/sort-js/insertion.js"></script>
    
    
    
    <div id="action-show" class="pane">
        <span id="hide-show-options" class="rotate-icon fa fa-chevron-right fa-2x" name="arrow"></span>
    </div>

    <div id="actions" class="pane animated invisible">
        <p id="new-array" class="object-pane">New Array</p>
        <p id="sort" class="object-pane">Sort</p>



    </div>

    <div id="new-array-options" class="pane invisible animated">
        <p id="input" class="object-new-array-options">Input</p>
        <p id="random" class="object-new-array-options">Random</p>
        <p id="sorted" class="object-new-array-options">Sorted</p>
        <p id="unsorted" class="object-new-array-options">Unsorted</p>
    </div>


    <div id="sort-visual-elements">
        <svg class="radial-progress radial-bar" data-percentage="0" viewBox="0 0 1000 1000" display="none">
            <circle class="incomplete" cx="40" cy="40" r="35"></circle>
            <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
            <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 115, -27)">0%</text>
        </svg>
        <svg id="svg-canvas" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"></svg>
    </div>

    <div id="new-array-input" class="overlays" style="display:none;">
        <div class="span10 offset1">
            <input id="number1" type="number">
            <input id="number2" type="number">
            <input id="number3" type="number">
            <input id="number4" type="number">
            <input id="number5" type="number">
        </div>
        <div class="span10 offset1">
            <input id="number6" type="number">
            <input id="number7" type="number">
            <input id="number8" type="number">
            <input id="number9" type="number">
            <input id="number10" type="number">
        </div>
        <div class="span10 offset1">
            <input id="number11" type="number">
            <input id="number12" type="number">
            <input id="number13" type="number">
            <input id="number14" type="number">
            <input id="number15" type="number">
        </div>
        <div class="span10 offset1">
            <input id="number16" type="number">
            <input id="number17" type="number">
            <input id="number18" type="number">
            <input id="number19" type="number">
            <input id="number20" type="number">
        </div>

    </div>    

            

            

            


            