
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Algoritmos</title>
</head>
<body>
    <div class="container-fluid button-close">
        <div class="row-fluid">
            <div class="span10 offset1 button-basic">
                <form action="/InsertionSort/Start" method="post">
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Insertion Sort</button>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1 button-basic">
                <form action="/SelectionSort/Start" method="post">
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Selection Sort</button>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1 button-basic">
                <form action="/MergeSort/Start" method="post">
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Merge Sort</button>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1 button-basic">
                <form action="/QuickSort/Start" method="post">
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Quick Sort</button>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1 button-basic">
                <form action="/HeapSort/Start" method="post">
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Heap Sort</button>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1 button-basic">
                <form action="/ShellSort/Start" method="post">
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Shell Sort</button>
                </form>
            </div>
        </div>









        

        

    </div>
</body>
</html>
