
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="jumbotron">
            <h1>Teste</h1>
            <p class="lead"> Estou aqui</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

        </div>
    </body>
</html>