
<h1>Selection Sort</h1>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Selection Sort</title>
</head>
<body>
    <div>
        <form action="/SelectionSort/add">
            <input id="value" name="value" />
            <input type="submit" value="Adicionar" />
        </form>

        <form action="/SelectionSort/remove">
            <input id="value" name="value" />
            <input type="submit" value="Remover" />
        </form>

        <form action="/SelectionSort/limpar">
            <input type="submit" value="Limpar Vetor" />
        </form>

        <form action="/SelectionSort/ordenar">
            <input type="submit" value="Ordenar Vetor" />
        </form>

        <form action="/SelectionSort/voltar">
            <input type="submit" value="Selecionar novo Algorítmo" />
        </form>

        <div class="vetor">
            @foreach (int value in ViewBag.Array)
            {
                <strong>
                    <td>@value</td>
                </strong>
            }
        </div>
    </div>
</body>
</html>
